body{
  background-color: lightcoral;
  
}
.h2{
  text-align: center;
 
  color: black;
  text-shadow: 5px 5px 5px lightblue;
}
.b1,.b2{
  height: 70px;
  width: 300px;
  background-color:cadetblue;
  border-radius: 30px;
  margin-top: 50px;
  margin-left:200px;
}
.b1:hover{
  background-color: aqua;
}
.b2:hover{
  background-color: aqua;
}

.func{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 300px;
  width: 500px;
  background-color: aqua;
  border-radius: 30px;
}
.class{
  align-items: center;
  text-align: center;
  height: 300px;
  width: 500px;
  background-color: aqua;
  border-radius: 30px;
}
.fh,.ch{
  padding-top: 50px;
}

.flex{
  margin: 50px 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
 
}